<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Pillow</title>
    {% endblock %}
</head>
<body>
{% block body %}
    {% if search_complete %}
            <h1>{{ search_found }} post(s) has been found</h1>
        {% for info in search_complete %}
            <h3><a href="/home/{{ info.id }}">{{ info.home_title }}</a></h3>
            <p>{{ info.info_type }}</p>
        {% endfor %}
    {% else %}
        {% for info in food_info %}
            <h3><a href="/home/{{ info.id }}">{{ info.home_title }}</a></h3>
            <p>{{ info.home_type }}</p>
        {% endfor %}
    {% endif %}
    <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Search" name="search">
        <button>GO</button>
    </form>


    {% for get_it in get_homes %}
        <div class="container">
            <a href="/home/{{ get_it.id }}">{{ get_it.home_title }}</a>
        </div>
        <p>Type: {{ get_it.home_type }}</p>
        <p>Price: {{ get_it.home_price }}</p>
    {% endfor %}
{% endblock %}
</body>
</html>